﻿@model WebUI.Models.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}
<h2>Şifre Değiştir</h2>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    if (Model.Result)
    {
        <div class="col-xs-12 success text-success">
            Şifreniz başarı ile değiştirilmiştir.
        </div>
    }
    <div class="col-md-6">
        <div class="form-group">
            <label for="exampleFormControlInput1">Eski Şifre</label>
            @Html.PasswordFor(m => Model.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.OldPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Yeni Şifre</label>
            @Html.PasswordFor(m => Model.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.NewPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Yeni Şifre</label>
            @Html.PasswordFor(m => Model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        @Html.ValidationMessage("PostError", new { @class = "post-error" })
        <button type="submit" class="btn btn-lg btn-pill btn-success">Değiştir</button>
    </div>
}