﻿@model WebUI.Models.ViewModels.SignInViewModel

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "form-signin col-xs-4" }))
{
    <h2 class="form-signin-heading">
        Yönetici Girişi
    </h2>
    @Html.ValidationMessage("PostError", new { @class = "post-error" })
    <label for="inputEmail" class="sr-only">
        Kullanıcı Adı
    </label>
    @Html.TextBoxFor(m => Model.Admin.Username, new { @class = "form-control", placeholder = "Kullanıcı Adı", autofocus = "true" })
    @Html.ValidationMessageFor(m => Model.Admin.Username, "", new { @class = "text-danger" })
    <label for="inputPassword" class="sr-only">
        Şifre
    </label>
    @Html.PasswordFor(m => Model.Admin.Password, new { @class = "form-control", placeholder = "Şifre" })
    @Html.ValidationMessageFor(m => Model.Admin.Password, "", new { @class = "text-danger" })
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Giriş Yap
    </button>
}
