﻿@model WebUI.Models.ViewModels.EmployeeAddViewModel  
@{
    ViewBag.Title = "Add";
}
<h2>Çalışan Ekle</h2>
@using (Html.BeginForm("Add", "Employee", FormMethod.Post))
{
    <div class="col-md-9">
        <div class="form-group">
            <label for="exampleFormControlInput1">Çalışan Adı</label>
            @Html.TextBoxFor(m => Model.Employee.Name, null, new { @class = "form-control", autofocus = "true" })
            @Html.ValidationMessageFor(m => Model.Employee.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Çalışan İkinci Adı</label>
            @Html.TextBoxFor(m => Model.Employee.SecondName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Employee.SecondName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Çalışan Soyadı</label>
            @Html.TextBoxFor(m => Model.Employee.Surname, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Employee.Surname, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Çalışan Telefonu</label>
            @Html.TextBoxFor(m => Model.Employee.MobilePhone, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Employee.MobilePhone, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Çalışanın Yöneticisi</label>
            @Html.DropDownListFor(m => Model.Employee.ManagerID, new SelectList (Model.Employees,"Id","Name"),("Seçiniz."),new {@class= "form-control" })
            @Html.ValidationMessageFor(m => Model.Employee.ManagerID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Çalışanın Departmanı</label>
            @Html.DropDownListFor(m => Model.Employee.DepartmentID, new SelectList(Model.Departments, "Id", "Name"), ("Seçiniz."), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Employee.DepartmentID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.ValidationMessage("PostError", new { @class = "post-error" })
        </div>
        <button type="submit" class="btn btn-lg btn-pill btn-success">Ekle</button>
    </div>
}

