﻿@model WebUI.Models.ViewModels.EmployeeDetailViewModel
@{
    var mobile = string.Format("({0}) {1} {2}", Model.Employee.MobilePhone.Substring(0, 3), Model.Employee.MobilePhone.Substring(3, 3), Model.Employee.MobilePhone.Substring(6, 4));
}
<div class="detail">

    <h3>
        @Model.Employee.Name @Model.Employee.SecondName @Model.Employee.Surname
    </h3>
    <p>
        <span>Telefon Numarası</span> <a href="tel:@Model.Employee.MobilePhone">@mobile</a>
    </p>
    <p>
        <span>Departman</span> @(Model.Employee.Department != null ? Model.Employee.Department.Name : "-")
    </p>
    <p>
        <span>Yönetici</span> @(Model.Employee.Manager != null ? Model.Employee.Manager.Name : "-")
    </p>

    @if (Model.IsAuthenticated)
    {
        <div class="col-xs-6 pull-left employee-operations">
            <div class="row">
                <a href="@Url.Action("Remove","Employee", new {id = Model.Employee.Id})" class="btn btn-danger col-xs-4 remove">
                    Sil &nbsp; <i class="glyphicon glyphicon-remove"></i>
                </a>
                <a href="@Url.Action("Edit","Employee",new {id = Model.Employee.Id})" class="btn btn-default col-xs-4 edit">
                    Düzenle &nbsp; <i class="glyphicon glyphicon-edit"></i>
                </a>
            </div>
        </div>
    }
</div>