﻿@model WebUI.Models.ViewModels.EmployeeListViewModel
@{
    ViewBag.Title = "List";
}

<div class="left-panel col-xs-4">
    @foreach (var item in Model.Employees)
    {
        <a href="@Url.Action("List","Employee")" data-id="@item.Id" class="list-item">
            <span>@item.Name @item.SecondName @item.Surname</span>
            @if (item.Department != null)
            {
                <span>@item.Department.Name</span>
            }
        </a>
    }
</div>
<div class="right-panel col-xs-8">
    <div class="col-xs-12 detail-content">

    </div>
</div>