body {
    padding-top: 70px;
    height: 100vh;
    background: #eee;
}


footer {
    margin: 50px 0;
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    color: #a94442;
}

.post-error {
    display: block;
    margin: 20px 0;
    color: #a94442;
    padding: 5px;
    font-size: 12px;
}

    .post-error.field-validation-error {
        border: 1px solid #a94442;
    }


/*#region Layout */

.nav > li > .signIn {
    float: right;
    border: 2px solid #b6ff00;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #c7c7c7;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #c7c7c7;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 1px solid #555555;
}

/*#endregion */

/*#region Sign In */
.signin-body {
    margin-top: 50px;
}

.form-signin {
    float: none;
    margin: 0 auto;
    padding: 20px;
    box-shadow: #ccc 0 0 15px;
}

    .form-signin .form-signin-heading {
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }

    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin .text-danger {
        display: block;
        margin-bottom: 15px;
        min-height: 20px;
    }

/*#endregion */

/*#region Indicator */

#loading-indicator {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: #FFF;
    top: 0;
    z-index: 9999999;
    opacity: .8;
}

    #loading-indicator img {
        position: absolute;
        left: 50%;
        top: 50%;
    }

/*#endregion */



.list-item {
    display: block;
    text-align: left;
    line-height: 25px;
    padding: 15px 20px;
    margin: 0;
    float: left;
    width: 100%;
    background: #ebf1fd;
    color: #222;
    transition: all .2s linear;
    border-bottom: 1px solid #FFF;
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
}

    .list-item:nth-of-type(2n+1) {
        background: #ccd9d8;
    }

    .list-item:hover {
        background: #000;
        color: #fff;
    }

    .list-item span {
        float: left;
        width: 100%;
    }

        .list-item span:last-child {
            font-size: 14px;
            color: #2570bb;
            transition: all .2s linear;
        }

    .list-item:hover span:last-child {
        color: #FFF;
    }

    .list-item.active, .detail.active {
        background: #c7c7c7;
    }

.footer {
    color: #222;
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #eee;
    border-color: #eeeeee;
}

    .footer p {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 20px;
        color: #222;
    }




.left-panel, .right-panel {
    height: 100%;
    padding: 0;
    height: 80vh;
    overflow: hidden;
    margin-bottom: 20px;
}


    .left-panel:hover {
        overflow-y: scroll;
    }

.detail {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #ebf1fd;
}

.col-xs-12.detail-content {
    height: 100%;
    padding: 0;
}

.detail h3 {
    color: #7887bf;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: capitalize;
}

.detail span {
    float: left;
    width: 200px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    color: #000;
}

    .detail span:after {
        content: ":";
        float: right;
    }

.detail p {
    color: #FFF;
    font-size: 17px;
    height: 25px;
    line-height: 25px;
    margin: 10px 0;
}

    .detail p a {
        text-decoration: underline;
        color: #FFF;
    }

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.employee-operations a:first-of-type {
    margin-right: 15px;
}
