﻿@model WebUI.Models.ViewModels.DepartmentAddViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Departman Ekle</h2>
@using (Html.BeginForm("Add", "Department", FormMethod.Post))
{
    <div class="col-md-9">
        <div class="form-group">
            <label for="exampleFormControlInput1">Departman Adı</label>
            @Html.TextBoxFor(m => Model.Department.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Department.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Departman Açıklaması</label>
            @Html.TextBoxFor(m => Model.Department.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.Department.Description, "", new { @class = "text-danger" })
        </div>
        @Html.ValidationMessage("PostError", new { @class = "post-error" })
        <button type="submit" class="btn btn-lg btn-pill btn-success">Ekle</button>
    </div>
}

