﻿@model WebUI.Models.ViewModels.DepartmentListViewModel
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div class="left-panel col-xs-4">
    @foreach (var item in Model.Departments)
    {
        <a href="@Url.Action("List","Department")" data-id="@item.Id" class="list-item">
            <span>@item.Name </span>
            @if (item.Description != null)
            {
                <span>@item.Description</span>
            }
        </a>
    }
</div>
