﻿@model WebUI.Models.Base.Model
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Telefon Rehberi</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Telefon Rehberi">
    <meta name="author" content="Samet Kızıltaş">
    <link href="~/Files/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Files/styles/site.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">TD</a>
            </div>
            <ul class="nav navbar-nav">
                @if (Model.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Çalışan <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Add","Employee")">Ekle</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Departman <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Add","Department")">Ekle</a></li>
                            <li><a href="@Url.Action("List","Department")">Listele</a></li>
                        </ul>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Admin İşlemleri <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @if (Model.IsAuthenticated)
                        {
                            <li><a href="@Url.Action("ChangePassword","Account")">Şifremi Değiştir</a></li>
                            <li><a href="@Url.Action("SignOut","Account")">Çıkış Yap</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("SignIn","Account")">Admin Girişi</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <div class="navbar navbar-inverse footer">
        <p>&copy; @DateTime.Now.Year.ToString() Samet Kızıltaş</p>
    </div>
    <div id="loading-indicator">
        <img src="~/Files/images/ajax-loader.gif" />
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Files/scripts/site.js"></script>
</body>
</html>
